{% extends 'MMWebFrontBundle::twbs3-base.html.twig' %}
{#
STARTPAGE LAYOUT
#}
{% block body %}
    <div class="mm-layout-startpage-container margin-bottom3">
        {% block layout_body %}
        {% endblock %}
    </div>
{% endblock %}