{# Used by StaticPagesController->aboutAction() #}
{% extends '@WEBUI/Layout/main.html.twig' %}
{% trans_default_domain 'Mealmatch' %}
{% block title %}Mealmatch | {{ 'about.title'|trans }}{% endblock %}
{% block main_header_action %}<!--// NO ACTION //-->{% endblock %}
{% set main_header_subtitle %}<!--// NO SUBTITLE //-->{% endset %}
{% set left_icon %}<span class="mm-circle-icon mm-icon-about-circle"></span>{% endset %}

