
<div class="container mm-container-table">
    <div class="row mm-vertical-center-row">
        <div class="text-center col-md-4 col-md-offset-4">
            <img src="{{ asset('bundles/uipublic/images/mm/mealmatch-logo.png') }}" alt="Mealmatch" class="img-responsive"
                 width="260" height="250">
            <h1>Soon ...</h1>
        </div>
    </div>
</div>
<!--//
Copyright 2016 Mealmatch .. see you soon!
//-->