<p style="margin-bottom: 0.14in"><font face="Times New Roman, serif"><font size="5" style="font-size: 18pt"><b>Nutzungsbedingungen
                für Restaurants:</b></font></font></p>
<p style="margin-bottom: 0.14in">01. Januar 2018</p>
<p style="margin-bottom: 0.14in"><br/>
    <br/>

</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>1.
                Kooperations-Vertragsgegenstand</b></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">1.1.
            Die Mealmatch Gmbh (nachfolgend „Anbieter“) betreibt eine
            Online-Buchungs-Plattform für das Reservieren von Plätzen an
            bestimmten von den Restaurants bereitgestellten Tische (nachfolgend
            „Mealmatch-Table“), wie z.B. https://www.mealmatch.restaurant und
            weiteren Domains sowie Applikationen für mobile Endgeräte
            (nachfolgend zusammen als &quot;Plattform&quot; bezeichnet). Über
            diese technisch zur Verfügung gestellte Plattform ermöglicht der
            Anbieter den auf der Plattform registrierten Restaurants die
            Mealmatch-Tables online anzubieten und die Vermittlung von
            kostenpflichtigen Reservierungen der Endkunden. Der Vertragsschluss
            über die kostenpflichtige Reservierung kommt dabei ausschließlich
            zwischen dem Restaurant und den Endkunden zustande
            (Vermittlungsgeschäft auf Provisionsbasis). Die Erfüllung der
            vertraglichen Pflichten aus den vermittelten Reservierungen
            insbesondere die ordnungsgemäßen Zubereitung der Speisen und
            Zusammenstellung der Waren obliegt einzig den Restaurants. </font></font>
</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">1.2.
            Für die Nutzung der Plattform sowie das Zustandekommen und die
            Abwicklung der vom Anbieter vermittelten Verträge gelten die
            nachstehenden „Vertragsbedingungen Restaurant“.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">1.3.
            Im Vertragsverhältnis zwischen dem Anbieter und Endkunden gelten die
            „AGB Endkunde“ des Anbieters, zu erreichen unter&nbsp;
            <font color="#4f81bd"><u>https://www.mealmatch.de/terms</u></font>
            und die Datenschutzbestimmungen, die über
            <font color="#4f81bd"><u>https://www.mealmatch.de/privacystatement</u></font>
            abrufbar sind.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">1.4.
            Der Anbieter übernimmt keine Gewähr für den von den Restaurants
            eingestellten Inhalt. Dieser Inhalt gibt nicht die Meinung des
            Anbieters wieder. Mit der Veröffentlichung der Inhalte macht sich
            der Anbieter diese auch nicht zu Eigen.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <br/>
    <br/>

</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>2.
                Registrierung beim Anbieter und Mitwirkungspflichten des Restaurants</b></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">2.1.
            Voraussetzung für die Nutzung der Plattform ist die Akzeptierung
            dieser AGBs des Anbieters. Das Restaurant erhält nach der
            erfolgreichen Registrierung eine Bestätigungs-Email vom Anbieter,
            die die Kooperation zwischen dem Anbieter und dem Restaurant
            bestätigt. Der Anbieter behält sich vor Restaurants den Zugang zu
            der Plattform zu verwehren, wenn das Restaurants gegen Regelungen des
            Anbieters verstößt.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">2.2.
            Auf der Plattform veröffentlicht der Anbieter das Restaurant mit
            samt seinem vom Restaurant mitgeteilten Meal-Angeboten, so dass es
            den Endkunden zur Auswahl zur Verfügung steht. Der Anbieter behält
            sich das Recht vor, die Art und Weise der Darstellungsmöglichkeiten
            zu verändern bzw. an technische Gegebenheiten anzupassen. Der
            Anbieter bewirbt über unterschiedliche Medien und Werbekampagnen die
            Plattform mit dem Ziel, kostenpflichtige Reservierungen der Endkunden
            an das Restaurant gemäß Ziffer 3.1 dieser Vertragsbedingungen zu
            vermitteln. Durch die dann geschlossenen Verträge gemäß Ziffer 1.1
            dieser Vertragsbedingungen zwischen Restaurant und Endkunde werden
            einzig die Restaurants und die Endkunden berechtigt und verpflichtet.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">2.3.
            Der Anbieter behält sich das Recht vor, die Veröffentlichung auf
            der Plattform oder Auszahlung in den Fällen zu verweigern, in denen
            insbesondere weitere vertragswesentliche Daten und behördliche
            Unterlagen dem Anbieter nicht eingereicht wurden.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">2.4.
            Das Restaurant verpflichtet sich, den Anbieter alle notwendigen
            Informationen (nachfolgend als „Daten“ bezeichnet) zur
            Vertragsabwicklung, Bewerbung gemäß Ziffer 12.1 dieser
            Vertragsbedingungen und Onlinepräsentation des Restaurants und
            seines Angebots zur Verfügung zu stellen.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">2.5.
            Zu den notwendigen Daten gehören insbesondere:</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    • <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Firmenname
            &amp; Restaurantname (*)<br/>
            • Gewerbeanmeldung (in Kopie)<br/>
            •
            Handelsregisternummer (falls vorhanden)<br/>
            • Umsatzsteuer ID (*),
            Steuernummer<br/>
            • Vertretungsberechtigte Person (*)<br/>
            •
            PayPal Adresse (*)<br/>
            • Geschäftliche Kontaktdaten:
            ladungsfähige Anschrift, Telefon, E-Mail (*)<br/>
            • Kontaktdaten
            der Vertretungsberechtigten Person: Anschrift, Telefon u. E-Mail<br/>
            •
            Mealmatch-Table Angebote des Restaurants<br/>
            • geltender
            Mehrwertsteuersatz &amp; Währung, in der die Angebote berechnet
            werden (*)<br/>
            • Standort des Restaurants (*)<br/>
            • mindestens
            1 Bild bzw. Logo des Restaurants (*)</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">(*)
            Diese Angaben sind Pflichtangaben bei der Anlegung eines
            Restaurant-Profils</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">2.6.
            Das Restaurant sichert zu, dass die von ihm im Rahmen des
            Vertragsschlusses mit dem Anbieter gemachten Angaben gemäß Ziffer
            2.4 dieser Kooperations-Vertragsbedingungen über seine Person, sein
            Unternehmen und sonstige vertragsrelevante Umstände vollständig,
            aktuell und wahrheitsgemäß sind. Das Restaurant verpflichtet sich
            darüber hinaus, unverzüglich aktuelle Änderungen dieser Daten,
            gegenüber dem Anbieter schriftlich per E-Mail bekannt zu geben, bzw.
            im Profil des Restaurants zu ändern, und entsprechend erforderliche
            behördliche Unterlagen unaufgefordert einzureichen.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">2.7.
            Bei schuldhaftem Verstoß gegen die Aktualisierungspflicht ist der
            Anbieter berechtigt, nach vorheriger Ankündigung die vertraglichen
            Leistungen zu sperren bzw. das Restaurant von der Plattform zu
            nehmen.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">2.8.
            Im Regelfall ist der Anbieter 10 Tage im Voraus über
            Änderungswünsche hinsichtlich der Daten gemäß Ziffer 2.4 dieser
            Vertragsbedingungen via E-Mail zu benachrichtigen. Nicht oder nicht
            fristgerecht mitgeteilte Änderungen können durch den Anbieter nicht
            berücksichtigt werden.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">2.9.
            Das Restaurant ist bis zur Beendigung des Kooperationsvertrages
            verpflichtet, jegliche durch den Anbieter vermittelten Reservierungen
            gewissenhaft mit der Sorgfalt eines ordentlichen Kaufmanns zu
            behandeln und umgehend, wie vom Endkunden bestellt, auszuführen. </font></font>
</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">2.10.
            Das Restaurant sichert dem Anbieter zu, dass die von ihm angebotenen
            Waren qualitativ einwandfrei sind und nach den
            lebensmittelrechtlichen Bestimmungen, dem Gaststättengesetz und
            sonstigen einschlägigen Bestimmungen gelagert, verarbeitet und
            hergestellt werden. Zudem garantiert das Restaurant, dass alle von
            ihm auf der Plattform eingestellten Meal-Angebote die rechtlichen
            Anforderungen, insbesondere die verbraucherschutzrechtlichen
            Informationspflichten (insbesondere Grundpreisangaben, Allergene und
            Zusatzstoffe) erfüllen. Die Einhaltung der vorstehenden Bestimmungen
            wird regelmäßig und mindestens einmal im Halbjahr durch das
            Restaurant überprüft.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">2.11.
            Das Restaurant sichert dem Anbieter zu, dass es über alle
            erforderlichen behördlichen Genehmigungen verfügt und keine Straf-,
            Insolvenz-, Steuer- oder Bußgeldverfahren im Zusammenhang mit dem
            Betrieb des Restaurants anhängig sind. Das Restaurant wird den
            Anbieter umgehend schriftlich über Änderungen der Umstände in Satz
            1 informieren.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">2.12.
            Das Restaurant verpflichtet sich, sämtliche in seiner Sphäre
            liegenden technischen Einrichtungen und Leitungen (bspw. DSL,
            Telefon, etc.) in eigener Verantwortung und auf eigene Rechnung
            funktionsfähig zu halten und so den fehlerfreien Empfang von
            eingehenden Reservierungen sicherzustellen.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <br/>
    <br/>

</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>3.
                Bevollmächtigung und Bestellabwicklung</b></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">3.1.
            Die kostenpflichtige Meal-Reservierung der Endkunden gilt als
            Vertragsschluss gelten. Der Anbieter nimmt diese im Namen des
            Restaurants entgegen. Diese Reservierungen werden im Rahmen des
            technisch Möglichen an das Restaurant übertragen. </font></font>
</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">3.2.
            Das Restaurant empfängt die Onlinezahlungen, abzüglich der Gebühren
            der Finanzdienstleister und des Provisionsanteils des Anbieters, der
            Endkunden unverzüglich nach deren Zahlung durch den Endkunden. </font></font>
</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">3.3.
            Der Anbieter ist berechtigt, sich zur Erfüllung seiner Aufgaben
            Dritter zu bedienen. Dabei wird der Anbieter sicherstellen, dass die
            ihm obliegenden Pflichten auch von Dritten eingehalten werden.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">3.4.
            Der Anbieter bemüht sich, eine weitestgehend störungsfreie
            Verfügbarkeit der Plattform aufrecht zu halten. Es kann wegen
            Wartungsarbeiten, aus Sicherheitsgründen oder aus Gründen außerhalb
            der Kontrolle und Einflussnahme vom Anbieter (z.B. Stromausfall oder
            Unterbrechungen des öffentlichen Kommunikationsnetzes) zu
            zeitweiligen Unterbrechungen der Verfügbarkeit der Plattform oder zu
            vereinzelten Fehlern bei der Nutzung der Plattform kommen.
            Erforderliche Wartungsarbeiten dienen unter anderem der Verbesserung
            der Funktionalität der Plattform und Steigerung der Effektivität im
            Bestellvorgang im Sinne der Restaurants und Endkunden.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <br/>
    <br/>

</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <br/>
    <br/>

</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <br/>
    <br/>

</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <br/>
    <br/>

</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>4.
                Konditionen der Leistung des Anbieters</b></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">4.1.
            Die Leistungen des Anbieters umfassen das zur Verfügung stellen der
            Plattform mit all seinen technischen Möglichkeiten zum Vermitteln
            von kostenpflichtigen Reservierungen an Endkunden und Bewerben der
            Plattform gemäß Ziffer 12.1 dieser Vertragsbedingungen. Für alle
            weiteren angebotenen Leistungen nach Maßgabe von Ziffer 7 dieser
            Vertragsbedingungen, werden zusätzliche Vereinbarungen mit dem
            Restaurant getroffen.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">4.2.
            Der Anbieter erhält für jede vermittelte Bestellung eine
            erfolgsbezogene Provision bezogen auf den Nettowert des auf der
            Plattform eingestellten Meal-Angebots zuzüglich der gesetzlich
            geltenden Umsatzsteuer. Die Höhe der Provision für die Dienste des
            Anbieters beläuft sich für die Restaurants auf 15% des
            Netto-Meal-Wertes zuzüglich der gesetzlich geltenden Umsatzsteuer.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">4.3.
            Der Anbieter behält sich vor, die Gebühren sowie die Provision
            anzupassen, soweit dies für das Restaurant im Einzelfall unter
            Abwägung der berechtigten Interessen beider Parteien zumutbar ist.
            Eine Gebühren- bzw. Provisionserhöhung kann aufgrund gestiegener
            Material-&nbsp; oder Vertriebskosten oder Steuern oder vergleichbarer
            Faktoren sowie einer wesentlichen Verbesserung des Dienstes oder
            einer Erweiterung des Dienstes oder Services vorgenommen werden. Der
            Anbieter wird das Restaurant über eine Änderung der Preise bzw.
            Provision unter Angabe der Gründe mindestens zwei Monate vor dem
            Inkrafttreten der Änderung in Textform per Brief, E-Mail und / oder
            SMS benachrichtigen. Dem Restaurant steht jederzeit zu, die
            Kooperation mit dem Anbieter einzustellen, falls er mit der Änderung
            der Gebühren nicht einverstanden ist. </font></font>
</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <br/>
    <br/>

</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>5.
                Online Zahlungsannahme</b></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">5.1.
            Dem Endkunden werden auf der Plattform einzig Online-Bezahloptionen
            zur Verfügung gestellt. Bei Onlinezahlungen wird die Zahlung der
            Endkunden über die API-Schnittstelle des Anbieters abgewickelt und
            mittels eines „Split-Payments“ umgehend nach Abzug der Gebühren
            der Finanzdienstleister an das Restaurant im Rahmen der vereinbarten
            Regeln ausgezahlt.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">5.2.
            Das Risiko einer missbräuchlichen Verwendung des Zahlungsmittel
            (beispielsweise Kreditkartenbetrug) oder des Onlinekontos trägt das
            Restaurant. Sollte die Zahlung des Kreditinstituts des Kontoinhabers
            durch den Anbieter an das Restaurant bereits weitergeleitet worden
            sein, bleibt dem Anbieter das Recht den Rechnungsbetrag zu
            korrigieren. Der Provisionsanspruch vom Anbieter bleibt bestehen.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">5.3.
            Der Anbieter überprüft nicht, ob die Endkundendaten wahrheitsgemäß
            angegeben wurden. Das Risiko, eine Reservierung wegen falscher
            Angaben nicht gewähren zu können und das Entgelt für die
            Reservierung zu erhalten, trägt das Restaurant. Der
            Provisionsanspruch vom Anbieter bleibt bestehen.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">5.4.
            Das Restaurant wird darauf hingewiesen, dass mit Inanspruchnahme des
            Online-Bezahlverfahrens steuerliche Aspekte berührt sein können. Es
            wird darauf hingewiesen, dass gegebenenfalls steuerliche Vorschriften
            von Drittländern Anwendung finden können. Den Restaurants wird
            geraten, sich zu den steuerlichen Aspekten fachlich beraten zu
            lassen.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>6.
                Rechnungslegung und Zahlungen</b></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">6.1.
            Aufgrund der direkten Aufteilung während des
            Bezahlprozesses(Split-Payment) ist eine gesonderte Rechnungslegung
            durch den Anbieter an das Restaurant nicht nötig. </font></font>
</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">6.2.
            Die Rechnungsbeträge werden sofort mit der Buchung eines Angebots
            durch den Endkunden auf dem Konto des Restaurants verbucht, solange
            dieser ein eigenes PayPal-Konto für den Zahlungsverkehr verwendet.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">6.3.
            Das Restaurant erklärt sich ausdrücklich damit einverstanden, dass
            der Anbieter die vom Restaurant gegenüber den Endkunden erbrachten
            Leistungen namens und im Auftrag des Restaurants hinsichtlich der vom
            Endkunden getätigten Reservierungen an diesen eine entsprechende
            elektronische Quittung ausstellt und übersendet. Das Restaurant
            gewährleistet hierfür stets die jeweils gesetzlich gültigen
            Umsatzsteuerbeträge für ihr aktuell online veröffentlichtes
            Meal-Angebot dem Anbieter umgehend mitzuteilen und bei Änderungen
            unverzüglich bedarfsgerecht zu aktualisieren, so dass immer die
            aktuell gültigen Umsatzsteuersätze beim Anbieter hinterlegt sind.
            Das Restaurant hat dabei die ihm selbst obliegenden gesetzlichen
            Verpflichtungen (insbesondere Buchführung der generierten Umsätze
            aus den über den Anbieter vermittelten Reservierungen) eigenständig
            wahrzunehmen.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <br/>
    <br/>

</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>7.
                Sonderaktionen</b></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">7.1.
            Der Anbieter behält sich vor, Sonderaktionen in Form von Rabatten
            oder ähnlichen Aktionen zugunsten von Endkunden durchzuführen. Der
            Anbieter übernimmt dabei gegenüber dem Restaurant die
            Preisdifferenz zwischen Sonderaktionspreis und dem Normalpreis. Der
            Provisionsanspruch richtet sich nach dem Normalpreis.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">7.2.
            Es besteht kein Anspruch des Restaurants auf Teilnahme an
            Sonderaktionen durch den Anbieter.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <br/>
    <br/>

</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>8.
                Zusatzprodukte</b></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">8.1.
            Der Anbieter bietet den Restaurants momentan keinen zusätzlichen
            Service an, der nicht Bestandteil dieses Kooperations-Vertrages ist. </font></font>
</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">8.2.
            Für die Dauer des Vertrages verpflichtet sich das Restaurant für
            den Anbieter Kanäle zur Übermittlung der Reservierungen bereit zu
            stellen. Vorzugsweise in Form einer überwachten E-Mail-Adresse.
            Zusätzlich verpflichtet sich das Restaurant regelmäßig die
            Plattform des Anbieters auf eingegangene Reservierungen für die vom
            Restaurant angebotenen Mealmatch-Tables zu kontrollieren und somit
            die Bewirtung der Endkunden gewährleisten zu können.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <br/>
    <br/>

</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <br/>
    <br/>

</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <br/>
    <br/>

</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>9.
                Haftung des Anbieters</b></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">9.1.
            Der Anbieter haftet weder für das Restaurant noch für den Endkunden
            hinsichtlich der Durchführung des vermittelten Vertrags.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">9.2.
            Der Anbieter haftet auf Schadensersatz – gleich aus welchem
            Rechtsgrund – bei Vorsatz und grober Fahrlässigkeit. Bei einer
            geringeren als groben Fahrlässigkeit haftet der Anbieter jeweils nur
            für Schäden aus der Verletzung des Lebens, des Körpers oder der
            Gesundheit und für Schäden aus der Verletzung einer wesentlichen
            Vertragspflicht (das heißt einer Verpflichtung, deren Erfüllung die
            ordnungsgemäße Durchführung des Vertrages überhaupt erst
            ermöglicht und auf deren Einhaltung das Restaurant regelmäßig
            vertraut und vertrauen darf [Hauptvertragspflicht]).</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">9.3.
            Im Fall der Verletzung einer wesentlichen Vertragspflicht ist die
            Haftung vom Anbieter jedoch auf den Ersatz des vorhersehbaren,
            typischerweise eintretenden Schadens begrenzt. Die Haftung ist auf
            einen Höchstbetrag begrenzt, der den Betrag der vom Anbieter
            eingenommenen Erträge innerhalb der letzten sechs Monate vor dem
            schadensauslösenden Ereignis nicht übersteigt.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">9.4.
            Der Anbieter haftet nicht für Schäden, die durch Fremdverschulden
            oder nicht zu vertretende Unterbrechungen der Verfügbarkeit der
            Plattform entstehen (z.B. nicht von einer Partei beeinflussbare
            technische Probleme des Internets oder Telekommunikationsleitungen,
            UMTS Übertragung).</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">9.5.
            Der Anbieter haftet nicht für Reservierungen von Endkunden, die
            unter dem Einsatz von unrechtmäßig erlangten Zahlungs- oder
            sonstigen Auftragsdaten (z.B. „Phishing“ von Kreditkartendaten,
            Identitätstäuschung, etc.) getätigt wurden.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">9.6.
            Die Plattform des Anbieters enthält auch Links zu anderen Webseiten.
            Der Anbieter ist nicht für den Inhalt der verlinkten Inhalte
            verantwortlich und übernimmt weder Haftung noch Gewähr für die
            Richtigkeit der verlinkten Seiten. Auch der Datenschutz auf den
            verlinkten Seiten ist nicht Inhalt dieser Vertragsbedingungen.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">9.7.
            Soweit die Haftung vom Anbieter ausgeschlossen oder beschränkt ist,
            gilt dies auch für die persönliche Haftung von Arbeitnehmern,
            Vertretern und Erfüllungsgehilfen.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">9.8.
            Die Vorschriften des Produkthaftungsgesetzes bleiben unberührt.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <br/>
    <br/>

</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>10.
                Freistellungsverpflichtung</b></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Unbeschadet
            des Umstandes, dass nach diesen Vertragsbedingungen keine Rechte
            gegenüber Dritten begründet werden, stellt das Restaurant den
            Anbieter von allen Ansprüchen Dritter frei, die durch diese
            berechtigt gegen den Anbieter wegen eines vom Restaurant zu
            vertretenden Verhaltens geltend gemacht werden. Soweit es unter
            Berücksichtigung der Umstände des Einzelfalls zur Wahrung der
            berechtigten Interessen des Anbieters erforderlich und dem Restaurant
            nicht unzumutbar ist, wird das Restaurant dem Anbieter in Hinblick
            auf die Freistellungsverpflichtung einen angemessenen Vorschuss
            zahlen (insbesondere Kosten der Rechtsverteidigung in der gesetzlich
            vorgesehenen Höhe).</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>11.
                Vertragslaufzeit und Kündigung</b></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">11.1.
            Das Kooperationsverhältnis beginnt mit dem Akzeptieren der AGBs beim
            Anlegen eines Profils. Die Kooperation wird auf unbestimmte Zeit
            abgeschlossen. Der Vertrag kann von dem Anbieter mit einer Frist von
            einem Monat zum Ende eines Kalendermonats beendigt werden. Das
            Restaurant kann jederzeit ohne Nennung von Gründen die Kooperation
            mit dem Anbieter einstellen. Das Recht zur fristlosen Beendigung der
            Kooperation aus wichtigem Grund bleibt für beide Parteien unberührt.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">11.2.
            Der Anbieter behält sich im Falle des Vorliegens eines der
            außerordentlichen Gründe zur Beendigung der Kooperation der Ziffer
            11.3 dieser Vertragsbedingungen je nach Schwere des Verstoßes als
            eine weniger belastende Maßnahme im Einzelfall das Recht vor, das
            Restaurant temporär von der Nutzung des Services auszuschließen
            („offline nehmen“), bis zu dem Zeitpunkt, bis das Ereignis,
            welches zur außerordentlichen Beendigung der Kooperation berechtigt,
            dauerhaft entfallen ist oder der Anbieter die außerordentliche
            Beendigung der Kooperation ausspricht.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">11.3.
            Ein wichtiger Grund, der zur fristlosen Beendigung der Kooperation
            berechtigt, liegt insbesondere vor, wenn:</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">(i).
            das Restaurant durch den Anbieter zur Verfügung gestellte
            Endkundendaten missbräuchlich verwendet,<br/>
            (ii). über das
            Vermögen des Restaurants ein der Schuldenregelung des Restaurants
            dienendes gerichtliches oder außergerichtliches Verfahren
            eingeleitet wird,<br/>
            (iii). das Restaurant den Geschäftsbetrieb
            einstellt oder der Geschäftsbetrieb durch eine Behörde untersagt
            wurde,<br/>
            (iv). das Restaurant einen Insolvenzantrag stellt bzw.
            über das Vermögen des Restaurants ein Insolvenzverfahren eröffnet
            wurde,<br/>
            (v). gegen das Restaurant ein Ermittlungsverfahren wegen
            Straftaten im Zusammenhang mit Steuer- oder
            Sozialversicherungspflichten eröffnet wurde.<br/>
            (vi). wenn das
            Restaurant gegen eine wesentliche Vertragspflicht (bspw.
            Nichteinhalten der Qualitätsanforderungen an die Waren gemäß
            Ziffer 2.11 dieser Vertragsbedingungen oder die
            verbraucherschutzrechtlichen Informationspflichten gemäß Ziffer
            2.10 dieser Vertragsbedingungen nicht ordnungsgemäß angibt)
            oder<br/>
            (vii). sonst ein wichtiger Grund nach den gesetzlichen
            Vorschriften vorliegt.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <br/>
    <br/>

</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>12.
                Nutzungsrechte und Rechte Dritter</b></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">12.1.
            Das Restaurant gestattet unentgeltlich, dass die Kennzeichen (Namen,
            Marken, Unternehmenskennzeichen wie Firma und geschäftliche
            Bezeichnung, etc.) durch den Anbieter verwendet werden dürfen. Die
            gestattete Nutzung gilt ungeachtet der Art, des Umfangs und des
            Verbreitungsmediums der Werbemaßnahme und auf allen Plattformen vom
            Anbieter und der (Werbe-)Partner vom Anbieter. Die Rechteeinräumung
            an den Kennzeichen im Rahmen von Werbemaßnahmen umfasst insbesondere
            die Verwendung im Rahmen von Google-AdWords-Werbekampagnen und
            anderen Maßnahmen des Onlinemarketings und der
            Suchmaschinenoptimierung einschließlich Partnerprogrammen.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <br/>
    <br/>

</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">12.2.
            Das Restaurant räumt dem Anbieter unentgeltlich ein einfaches,
            räumlich und inhaltlich unbeschränktes Nutzungsrecht an dem von ihm
            zur Verfügung gestellten Informationen, Texten, Fotos, Logos etc.
            („Inhalte“) ein.&nbsp; Die gestattete Nutzung gilt ungeachtet der
            Art, des Umfangs und des Verbreitungsmediums der Werbemaßnahme und
            auf allen Plattformen des Anbieters und der (Werbe-)Partner des
            Anbieters. Das Restaurant weist den Anbieter darauf hin, wenn das
            Restaurant nicht über solche Rechte verfügt, die ihm eine derartige
            Rechtseinräumung&nbsp; an den Anbieter erlauben. In diesem Fall ist
            der Anbieter berechtigt ein eigenes Logo zu verwenden.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">12.3.
            Der Anbieter ist darüber hinaus berechtigt das Logo des Restaurants
            zum Zwecke Harmonisierung auf den Plattformen grafisch anzupassen.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">12.4.
            Das Restaurant räumt zugunsten des Anbieters darüber hinaus Online
            Marketingkampagnen auf Sozialen Plattformen (wie Google, Facebook,
            und anderen) „Administrationsrechte für Werbetreibende“ ein. Der
            Anbieter wird im Auftrag und im Namen des Restaurants bis auf
            Widerruf in dem jeweiligen sozialen Netzwerk online Werbung
            betreiben.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">12.5.
            Das Restaurant steht dafür ein, dass alle von ihm zur Verfügung
            gestellten Kennzeichen im Sinne von Ziff. 12.1 und/oder Ziff. 12.2
            frei von Rechten Dritter sind und dass er berechtigt ist, dem
            Anbieter Rechte an diesen in dem hier vertraglich vereinbarten Umfang
            einzuräumen bzw. die Benutzung zu gestatten. Rechte Dritter sind
            insbesondere Urheberrechte, Leistungsschutzrechte, gewerbliche
            Schutzrechte, Persönlichkeitsrechte und Kennzeichenrechte. Machen
            Dritte Ansprüche aufgrund Verletzung ihrer Rechte geltend, stellt
            das Restaurant den Anbieter von allen Ansprüchen Dritter,
            einschließlich der Kosten der Rechtsverteidigung in Form notwendiger
            Gerichts- und Anwaltskosten, frei. Der Anbieter wird das Restaurant
            unverzüglich über eine Inanspruchnahme Dritter informieren und die
            wesentlichen Schritte des rechtlichen Vorgehens mit ihm abstimmen.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <br/>
    <br/>

</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>13.
                Vertraulichkeit, Datenschutz und Kundenkontakt</b></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">13.1.
            Der Anbieter und das Restaurant verpflichten sich zur Vertraulichkeit
            hinsichtlich aller vertraglicher Vereinbarungen und sämtlicher
            Informationen über die andere Partei, die ihnen im Zusammenhang mit
            dem Kooperationsverhältnis bekannt geworden sind oder bekannt werden
            und ungeachtet der Art der Informationen, diese streng vertraulich zu
            behandeln. Die Verpflichtung zur Vertraulichkeit umfasst auf jeden
            Fall und ohne Einschränkung technische, finanzielle, betriebliche
            und geschäftliche Informationen sowie sonstige Angelegenheiten der
            anderen Partei, insbesondere Information in Bezug auf diesen
            Kooperationsvertrag. Die Parteien stellen sicher, dass dieselbe
            Vertraulichkeitsverpflichtung ihren Mitarbeitern und Dritten
            auferlegt wird, die sie beschäftigen und die Zugang zu solchen
            vertraulichen Informationen haben. Die Parteien vereinbaren, dass
            vertrauliche Informationen nur soweit an Führungskräfte und
            Mitarbeiter sowie andere beauftragte Dritte weitergereicht werden
            dürfen, wie diese entsprechende Information zur Erreichung des
            Kooperationszweckes benötigt wird und erforderlich ist. Die
            Vertraulichkeitsverpflichtung besteht auch nach
            Kooperationsbeendigung fort. Die Parteien haften jeweils für jede
            Verletzung dieser Vereinbarung.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <br/>
    <br/>

</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">13.2.
            Die Parteien beachten die einschlägigen datenschutzrechtlichen
            Vorschriften. Personenbezogene Daten i.S.d. § 3 Abs. 1 BDSG werden
            nur insoweit erhoben, verarbeitet oder genutzt, soweit dies zur
            Durchführung des Vertrages erforderlich und nach den einschlägigen
            gesetzlichen Bestimmungen zulässig ist. Soweit das Restaurant Daten
            der&nbsp; Endkunden speichert oder an Dritte zur Erfüllung der
            vertraglichen Leistung weitergibt, ist das Restaurant für die
            Einhaltung aller datenschutzrechtlichen Bestimmungen verantwortlich.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">13.3.
            Das Restaurant kontaktiert den Endkunden nur in dem für die
            jeweilige Reservierung erforderlichen Maß. Insbesondere übermittelt
            das Restaurant dem Endkunden Werbung nur mit seiner ausdrücklichen
            Einwilligung unter Beachtung der gesetzlichen Bestimmungen (z.B.
            Gesetz gegen den unlauteren Wettbewerb).</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <br/>
    <br/>

</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>14.
                Anpassung der Kooperationsbedingungen</b></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">14.1.
            Der Anbieter ist im Falle von triftigen Gründen (z.B. Veränderung
            der Gesetzeslage, Erweiterung des Dienstangebots) berechtigt,
            einzelne Klauseln dieser Kooperationsbedingungen in Zukunft zu
            ändern, soweit diese Änderungen für das Restaurant nicht
            unzumutbar sind. Die Änderungen erfolgen nur in dem erforderlichen
            Umfang.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">14.2.
            Der Anbieter wird über Änderungen der Kooperationsbedingungen
            mindestens 4 Wochen vor dem geplanten Inkrafttreten der Änderungen
            per E-Mail aufmerksam machen. Die Änderungsmitteilung wird einen
            Hinweis auf die Möglichkeit und Frist des Widerspruchs gemäß
            Ziffer 14.3 dieser Kooperationsbedingungen sowie die Bedeutung bzw.
            Folgen des Unterlassens eines Widerspruches enthalten.&nbsp;</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">14.3.
            Widerspricht das Restaurant der Geltung der neuen
            Kooperationsbedingungen nicht innerhalb von vier (4) Wochen beginnend
            mit dem Tag, der auf die Änderungsmitteilung folgt, gelten die
            geänderten Kooperationsbedingungen als vom Restaurant angenommen. </font></font>
</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <br/>
    <br/>

</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>15.
                Schlussbestimmungen</b></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">15.1.
            Die Parteien sind sich darüber einig, dass Änderungen oder
            Ergänzungen dieser Kooperationsbedingungen seitens des Anbieters der
            Schriftform bedürfen und keine mündlichen Nebenabreden getroffen
            werden.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">15.2.
            Sollten einzelne Bestimmungen dieser Kooperationsbedingungen
            unwirksam sein oder werden, bleibt die Wirksamkeit dieser
            Kooperationsvereinbarung im Übrigen unberührt. Die unwirksame
            Bestimmung ist sodann durch eine Regelung zu ersetzen, die der
            wirtschaftlichen Zielsetzung der Parteien am nächsten kommt.
            Entsprechendes gilt, wenn diese Kooperationsbedingungen Lücken
            enthalten.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">15.3.
            Es gilt ausschließlich das Recht der Bundesrepublik Deutschland
            unter Ausschluss des UN-Kaufrechts.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">15.4.
            Gerichtsstand für alle Streitigkeiten im Zusammenhang mit den
            Leistungen des Anbieters ist Köln.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%"><a name="_GoBack"></a>
    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">15.5.
            Allgemeine Geschäftsbedingungen oder sonstige Bestimmungen des
            Restaurants werden nicht Bestandteil dieses Vertrages, es sei denn
            der Anbieter stimmt der Einbeziehung ausdrücklich schriftlich zu.</font></font></p>
<p style="margin-bottom: 0.14in"><br/>
    <br/>

</p>