<div id="page1-div" style="position:relative;height:1262px;">
<p style="position:absolute;top:126px;left:107px;white-space:nowrap" class="ft10"><b>Datenschutzerklärung</b></p>
<p style="position:absolute;top:168px;left:107px;white-space:nowrap" class="ft10"><b>21.&#160;Mai&#160;2018</b></p>
<p style="position:absolute;top:211px;left:107px;white-space:nowrap" class="ft11"><b>Allgemeiner&#160;Hinweis&#160;und&#160;Pflichtinformationen</b></p>
<p style="position:absolute;top:250px;left:107px;white-space:nowrap" class="ft11"><b>Benennung der&#160;verantwortlichen&#160;Stelle</b></p>
<p style="position:absolute;top:290px;left:107px;white-space:nowrap" class="ft12">Die&#160;verantwortliche&#160;Stelle&#160;für die&#160;Datenverarbeitung&#160;auf&#160;dieser Website&#160;ist:</p>
<p style="position:absolute;top:330px;left:107px;white-space:nowrap" class="ft12">Mealmatch&#160;GmbH</p>
<p style="position:absolute;top:349px;left:107px;white-space:nowrap" class="ft12">Thomas&#160;Fiedler</p>
<p style="position:absolute;top:369px;left:107px;white-space:nowrap" class="ft12">Brühler&#160;Str. 30</p>
<p style="position:absolute;top:388px;left:107px;white-space:nowrap" class="ft12">50968 Köln</p>
<p style="position:absolute;top:428px;left:107px;white-space:nowrap" class="ft12">Die&#160;verantwortliche&#160;Stelle&#160;entscheidet&#160;allein&#160;oder gemeinsam&#160;mit&#160;anderen über&#160;die&#160;Zwecke&#160;</p>
<p style="position:absolute;top:447px;left:107px;white-space:nowrap" class="ft12">und Mittel&#160;der Verarbeitung&#160;von personenbezogenen&#160;Daten&#160;(z.B. Namen, Kontaktdaten&#160;o. Ä.).</p>
<p style="position:absolute;top:486px;left:107px;white-space:nowrap" class="ft11"><b>Widerruf&#160;Ihrer&#160;Einwilligung&#160;zur&#160;Datenverarbeitung</b></p>
<p style="position:absolute;top:526px;left:107px;white-space:nowrap" class="ft12">Nur mit&#160;Ihrer ausdrücklichen&#160;Einwilligung&#160;sind einige&#160;Vorgänge&#160;der Datenverarbeitung&#160;</p>
<p style="position:absolute;top:546px;left:107px;white-space:nowrap" class="ft12">möglich.&#160;Ein Widerruf&#160;Ihrer bereits&#160;erteilten&#160;Einwilligung&#160;ist&#160;jederzeit&#160;möglich.&#160;Für den&#160;</p>
<p style="position:absolute;top:565px;left:107px;white-space:nowrap" class="ft12">Widerruf&#160;genügt&#160;eine&#160;formlose&#160;Mitteilung&#160;per E-Mail.&#160;Die&#160;Rechtmäßigkeit&#160;der bis&#160;zum&#160;</p>
<p style="position:absolute;top:584px;left:107px;white-space:nowrap" class="ft12">Widerruf&#160;erfolgten&#160;Datenverarbeitung&#160;bleibt&#160;vom&#160;Widerruf&#160;unberührt.</p>
<p style="position:absolute;top:623px;left:107px;white-space:nowrap" class="ft11"><b>Recht auf Beschwerde&#160;bei&#160;der&#160;zuständigen&#160;Aufsichtsbehörde</b></p>
<p style="position:absolute;top:663px;left:107px;white-space:nowrap" class="ft12">Als&#160;Betroffener&#160;steht&#160;Ihnen im&#160;Falle&#160;eines&#160;datenschutzrechtlichen&#160;Verstoßes&#160;ein&#160;</p>
<p style="position:absolute;top:682px;left:107px;white-space:nowrap" class="ft12">Beschwerderecht&#160;bei&#160;der zuständigen&#160;Aufsichtsbehörde&#160;zu. Zuständige&#160;Aufsichtsbehörde&#160;</p>
<p style="position:absolute;top:702px;left:107px;white-space:nowrap" class="ft12">bezüglich&#160;datenschutzrechtlicher&#160;Fragen ist&#160;der Landesdatenschutzbeauftragte&#160;des&#160;</p>
<p style="position:absolute;top:721px;left:107px;white-space:nowrap" class="ft12">Bundeslandes,&#160;in dem&#160;sich der Sitz&#160;unseres&#160;Unternehmens&#160;befindet.&#160;Der folgende&#160;Link&#160;stellt&#160;</p>
<p style="position:absolute;top:740px;left:107px;white-space:nowrap" class="ft12">eine&#160;Liste&#160;der Datenschutzbeauftragten&#160;sowie&#160;deren Kontaktdaten&#160;bereit:&#160;</p>
<p style="position:absolute;top:759px;left:107px;white-space:nowrap" class="ft13"><a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html.</a></p>
<p style="position:absolute;top:798px;left:107px;white-space:nowrap" class="ft11"><b>Recht auf Datenübertragbarkeit</b></p>
<p style="position:absolute;top:838px;left:107px;white-space:nowrap" class="ft12">Ihnen&#160;steht&#160;das&#160;Recht&#160;zu, Daten,&#160;die&#160;wir auf Grundlage&#160;Ihrer Einwilligung&#160;oder in Erfüllung&#160;</p>
<p style="position:absolute;top:858px;left:107px;white-space:nowrap" class="ft12">eines&#160;Vertrags&#160;automatisiert&#160;verarbeiten,&#160;an sich&#160;oder an Dritte&#160;aushändigen&#160;zu lassen. Die&#160;</p>
<p style="position:absolute;top:877px;left:107px;white-space:nowrap" class="ft12">Bereitstellung&#160;erfolgt&#160;in&#160;einem&#160;maschinenlesbaren&#160;Format.&#160;Sofern Sie&#160;die&#160;direkte&#160;Übertragung</p>
<p style="position:absolute;top:896px;left:107px;white-space:nowrap" class="ft12">der&#160;Daten&#160;an einen&#160;anderen&#160;Verantwortlichen&#160;verlangen,&#160;erfolgt&#160;dies&#160;nur, soweit&#160;es&#160;technisch&#160;</p>
<p style="position:absolute;top:915px;left:107px;white-space:nowrap" class="ft12">machbar&#160;ist.</p>
<p style="position:absolute;top:954px;left:107px;white-space:nowrap" class="ft11"><b>SSL- bzw. TLS-Verschlüsselung</b></p>
<p style="position:absolute;top:994px;left:107px;white-space:nowrap" class="ft12">Aus&#160;Sicherheitsgründen&#160;und zum&#160;Schutz&#160;der Übertragung&#160;vertraulicher&#160;Inhalte,&#160;die&#160;Sie&#160;an uns</p>
<p style="position:absolute;top:1014px;left:107px;white-space:nowrap" class="ft12">als&#160;Seitenbetreiber&#160;senden, nutzt&#160;unsere&#160;Website&#160;eine&#160;SSL-bzw. TLS-Verschlüsselung. Damit&#160;</p>
<p style="position:absolute;top:1033px;left:107px;white-space:nowrap" class="ft12">sind Daten,&#160;die&#160;Sie&#160;über diese&#160;Website&#160;übermitteln,&#160;für Dritte&#160;nicht&#160;mitlesbar.&#160;Sie&#160;erkennen&#160;</p>
<p style="position:absolute;top:1052px;left:107px;white-space:nowrap" class="ft12">eine&#160;verschlüsselte&#160;Verbindung an&#160;der „https://“&#160;Adresszeile&#160;Ihres&#160;Browsers&#160;und am&#160;Schloss-</p>
<p style="position:absolute;top:1071px;left:107px;white-space:nowrap" class="ft12">Symbol&#160;in der Browserzeile.</p>
<p style="position:absolute;top:1150px;left:107px;white-space:nowrap" class="ft11"><b>Server-Log-Dateien</b></p>
</div>

<div id="page2-div" style="position:relative;width:892px;height:1262px;">
<p style="position:absolute;top:106px;left:107px;white-space:nowrap" class="ft20">In Server-Log-Dateien&#160;erhebt&#160;und speichert&#160;der Provider der&#160;Website&#160;automatisch&#160;</p>
<p style="position:absolute;top:125px;left:107px;white-space:nowrap" class="ft20">Informationen,&#160;die&#160;Ihr Browser automatisch&#160;an uns&#160;übermittelt.&#160;Dies&#160;sind:</p>
<p style="position:absolute;top:168px;left:134px;white-space:nowrap" class="ft20"></p>
<p style="position:absolute;top:165px;left:161px;white-space:nowrap" class="ft20">Browsertyp und Browserversion</p>
<p style="position:absolute;top:187px;left:134px;white-space:nowrap" class="ft20"></p>
<p style="position:absolute;top:184px;left:161px;white-space:nowrap" class="ft20">Verwendetes&#160;Betriebssystem</p>
<p style="position:absolute;top:206px;left:134px;white-space:nowrap" class="ft20"></p>
<p style="position:absolute;top:203px;left:161px;white-space:nowrap" class="ft20">Referrer&#160;URL</p>
<p style="position:absolute;top:225px;left:134px;white-space:nowrap" class="ft20"></p>
<p style="position:absolute;top:222px;left:161px;white-space:nowrap" class="ft20">Hostname&#160;des&#160;zugreifenden&#160;Rechners</p>
<p style="position:absolute;top:244px;left:134px;white-space:nowrap" class="ft20"></p>
<p style="position:absolute;top:241px;left:161px;white-space:nowrap" class="ft20">Uhrzeit&#160;der Serveranfrage</p>
<p style="position:absolute;top:263px;left:134px;white-space:nowrap" class="ft20"></p>
<p style="position:absolute;top:260px;left:161px;white-space:nowrap" class="ft20">IP-Adresse</p>
<p style="position:absolute;top:300px;left:107px;white-space:nowrap" class="ft20">Es&#160;findet&#160;keine&#160;Zusammenführung&#160;dieser&#160;Daten mit&#160;anderen&#160;Datenquellen&#160;statt.&#160;Grundlage&#160;</p>
<p style="position:absolute;top:319px;left:107px;white-space:nowrap" class="ft20">der&#160;Datenverarbeitung&#160;bildet&#160;Art.&#160;6 Abs. 1 lit.&#160;b DSGVO, der&#160;die&#160;Verarbeitung&#160;von Daten&#160;zur&#160;</p>
<p style="position:absolute;top:338px;left:107px;white-space:nowrap" class="ft20">Erfüllung&#160;eines&#160;Vertrags&#160;oder vorvertraglicher&#160;Maßnahmen&#160;gestattet.</p>
<p style="position:absolute;top:378px;left:107px;white-space:nowrap" class="ft21"><b>Registrierung&#160;auf dieser&#160;Website</b></p>
<p style="position:absolute;top:418px;left:107px;white-space:nowrap" class="ft20">Zur&#160;Nutzung&#160;bestimmter&#160;Funktionen&#160;können&#160;Sie&#160;sich auf unserer&#160;Website&#160;registrieren.&#160;Die&#160;</p>
<p style="position:absolute;top:437px;left:107px;white-space:nowrap" class="ft20">übermittelten&#160;Daten&#160;dienen ausschließlich&#160;zum&#160;Zwecke&#160;der&#160;Nutzung&#160;des&#160;jeweiligen&#160;</p>
<p style="position:absolute;top:456px;left:107px;white-space:nowrap" class="ft20">Angebotes&#160;oder&#160;Dienstes. Bei&#160;der&#160;Registrierung&#160;abgefragte&#160;Pflichtangaben&#160;sind vollständig&#160;</p>
<p style="position:absolute;top:475px;left:107px;white-space:nowrap" class="ft20">anzugeben.&#160;Andernfalls&#160;werden wir die&#160;Registrierung&#160;ablehnen.</p>
<p style="position:absolute;top:515px;left:107px;white-space:nowrap" class="ft20">Im&#160;Falle&#160;wichtiger&#160;Änderungen,&#160;etwa&#160;aus&#160;technischen&#160;Gründen,&#160;informieren&#160;wir Sie&#160;per&#160;E-</p>
<p style="position:absolute;top:534px;left:107px;white-space:nowrap" class="ft20">Mail.&#160;Die&#160;E-Mail&#160;wird an die&#160;Adresse&#160;versendet,&#160;die&#160;bei&#160;der&#160;Registrierung&#160;angegeben&#160;wurde.</p>
<p style="position:absolute;top:574px;left:107px;white-space:nowrap" class="ft20">Die&#160;Verarbeitung&#160;der bei&#160;der&#160;Registrierung&#160;eingegebenen&#160;Daten&#160;erfolgt&#160;auf Grundlage&#160;Ihrer&#160;</p>
<p style="position:absolute;top:593px;left:107px;white-space:nowrap" class="ft20">Einwilligung&#160;(Art. 6 Abs. 1 lit.&#160;a&#160;DSGVO). Ein&#160;Widerruf Ihrer&#160;bereits&#160;erteilten&#160;Einwilligung&#160;</p>
<p style="position:absolute;top:612px;left:107px;white-space:nowrap" class="ft20">ist&#160;jederzeit&#160;möglich.&#160;Für den Widerruf&#160;genügt&#160;eine&#160;formlose&#160;Mitteilung&#160;per&#160;E-Mail. Die&#160;</p>
<p style="position:absolute;top:631px;left:107px;white-space:nowrap" class="ft20">Rechtmäßigkeit&#160;der bereits&#160;erfolgten&#160;Datenverarbeitung&#160;bleibt&#160;vom&#160;Widerruf&#160;unberührt.</p>
<p style="position:absolute;top:671px;left:107px;white-space:nowrap" class="ft20">Wir&#160;speichern&#160;die&#160;bei&#160;der Registrierung&#160;erfassten&#160;Daten während des&#160;Zeitraums,&#160;den Sie&#160;auf&#160;</p>
<p style="position:absolute;top:690px;left:107px;white-space:nowrap" class="ft20">unserer Website&#160;registriert&#160;sind. Ihren Daten&#160;werden gelöscht,&#160;sollten&#160;Sie&#160;Ihre&#160;Registrierung&#160;</p>
<p style="position:absolute;top:709px;left:107px;white-space:nowrap" class="ft20">aufheben.&#160;Gesetzliche&#160;Aufbewahrungsfristen&#160;bleiben&#160;unberührt.</p>
<p style="position:absolute;top:749px;left:107px;white-space:nowrap" class="ft21"><b>Kontaktformular</b></p>
<p style="position:absolute;top:789px;left:107px;white-space:nowrap" class="ft20">Per Kontaktformular&#160;übermittelte&#160;Daten&#160;werden einschließlich&#160;Ihrer Kontaktdaten&#160;</p>
<p style="position:absolute;top:808px;left:107px;white-space:nowrap" class="ft20">gespeichert,&#160;um&#160;Ihre&#160;Anfrage&#160;bearbeiten&#160;zu können&#160;oder um&#160;für Anschlussfragen&#160;</p>
<p style="position:absolute;top:827px;left:107px;white-space:nowrap" class="ft20">bereitzustehen.&#160;Eine&#160;Weitergabe&#160;dieser&#160;Daten&#160;findet&#160;ohne&#160;Ihre&#160;Einwilligung&#160;nicht&#160;statt.</p>
<p style="position:absolute;top:867px;left:107px;white-space:nowrap" class="ft20">Die&#160;Verarbeitung&#160;der in das&#160;Kontaktformular&#160;eingegebenen&#160;Daten&#160;erfolgt&#160;ausschließlich&#160;auf&#160;</p>
<p style="position:absolute;top:886px;left:107px;white-space:nowrap" class="ft20">Grundlage&#160;Ihrer Einwilligung&#160;(Art.&#160;6 Abs. 1 lit.&#160;a&#160;DSGVO). Ein Widerruf&#160;Ihrer bereits&#160;</p>
<p style="position:absolute;top:906px;left:107px;white-space:nowrap" class="ft20">erteilten&#160;Einwilligung&#160;ist&#160;jederzeit&#160;möglich.&#160;Für den&#160;Widerruf genügt&#160;eine&#160;formlose&#160;</p>
<p style="position:absolute;top:925px;left:107px;white-space:nowrap" class="ft20">Mitteilung&#160;per E-Mail.&#160;Die&#160;Rechtmäßigkeit&#160;der bis&#160;zum&#160;Widerruf&#160;erfolgten&#160;</p>
<p style="position:absolute;top:944px;left:107px;white-space:nowrap" class="ft20">Datenverarbeitungsvorgänge&#160;bleibt&#160;vom&#160;Widerruf&#160;unberührt.</p>
<p style="position:absolute;top:984px;left:107px;white-space:nowrap" class="ft20">Über das&#160;Kontaktformular&#160;übermittelte&#160;Daten&#160;verbleiben&#160;bei&#160;uns, bis&#160;Sie&#160;uns&#160;zur Löschung&#160;</p>
<p style="position:absolute;top:1003px;left:107px;white-space:nowrap" class="ft20">auffordern,&#160;Ihre&#160;Einwilligung&#160;zur Speicherung&#160;widerrufen oder&#160;keine&#160;Notwendigkeit&#160;der&#160;</p>
<p style="position:absolute;top:1022px;left:107px;white-space:nowrap" class="ft20">Datenspeicherung&#160;mehr besteht.&#160;Zwingende&#160;gesetzliche&#160;Bestimmungen&#160;- insbesondere&#160;</p>
<p style="position:absolute;top:1041px;left:107px;white-space:nowrap" class="ft20">Aufbewahrungsfristen - bleiben&#160;unberührt.</p>
<p style="position:absolute;top:1081px;left:107px;white-space:nowrap" class="ft21"><b>Newsletter-Daten</b></p>
<p style="position:absolute;top:1121px;left:107px;white-space:nowrap" class="ft20">Zum&#160;Versenden unseres&#160;Newsletters&#160;benötigen&#160;wir von Ihnen&#160;eine&#160;E-Mail-Adresse. Eine&#160;</p>
<p style="position:absolute;top:1140px;left:107px;white-space:nowrap" class="ft20">Verifizierung&#160;der angegebenen&#160;E-Mail-Adresse&#160;ist&#160;notwendig&#160;und der Empfang&#160;des&#160;</p>
</div>

<div id="page3-div" style="position:relative;width:892px;height:1262px;">
<p style="position:absolute;top:106px;left:107px;white-space:nowrap" class="ft30">Newsletters&#160;ist&#160;einzuwilligen.&#160;Ergänzende&#160;Daten&#160;werden nicht&#160;erhoben&#160;oder sind freiwillig.&#160;</p>
<p style="position:absolute;top:125px;left:107px;white-space:nowrap" class="ft30">Die&#160;Verwendung der&#160;Daten erfolgt&#160;ausschließlich&#160;für den Versand des&#160;Newsletters.</p>
<p style="position:absolute;top:165px;left:107px;white-space:nowrap" class="ft30">Die&#160;bei&#160;der Newsletteranmeldung&#160;gemachten&#160;Daten werden&#160;ausschließlich&#160;auf&#160;Grundlage&#160;</p>
<p style="position:absolute;top:184px;left:107px;white-space:nowrap" class="ft30">Ihrer&#160;Einwilligung&#160;(Art. 6 Abs. 1 lit.&#160;a&#160;DSGVO) verarbeitet.&#160;Ein&#160;Widerruf&#160;Ihrer bereits&#160;</p>
<p style="position:absolute;top:203px;left:107px;white-space:nowrap" class="ft30">erteilten&#160;Einwilligung&#160;ist&#160;jederzeit&#160;möglich.&#160;Für den&#160;Widerruf genügt&#160;eine&#160;formlose&#160;</p>
<p style="position:absolute;top:222px;left:107px;white-space:nowrap" class="ft30">Mitteilung&#160;per E-Mail&#160;oder Sie&#160;melden&#160;sich über den&#160;&#34;Austragen&#34;-Link im&#160;Newsletter&#160;ab. Die</p>
<p style="position:absolute;top:241px;left:107px;white-space:nowrap" class="ft30">Rechtmäßigkeit&#160;der bereits&#160;erfolgten&#160;Datenverarbeitungsvorgänge&#160;bleibt&#160;vom&#160;Widerruf&#160;</p>
<p style="position:absolute;top:260px;left:107px;white-space:nowrap" class="ft30">unberührt.</p>
<p style="position:absolute;top:300px;left:107px;white-space:nowrap" class="ft30">Zur&#160;Einrichtung&#160;des&#160;Abonnements&#160;eingegebene&#160;Daten&#160;werden im&#160;Falle&#160;der&#160;Abmeldung&#160;</p>
<p style="position:absolute;top:319px;left:107px;white-space:nowrap" class="ft30">gelöscht.&#160;Sollten&#160;diese&#160;Daten für andere&#160;Zwecke&#160;und an anderer&#160;Stelle&#160;an uns&#160;übermittelt&#160;</p>
<p style="position:absolute;top:338px;left:107px;white-space:nowrap" class="ft30">worden sein, verbleiben&#160;diese&#160;weiterhin&#160;bei&#160;uns.</p>
<p style="position:absolute;top:378px;left:107px;white-space:nowrap" class="ft31"><b>Cookies</b></p>
<p style="position:absolute;top:418px;left:107px;white-space:nowrap" class="ft30">Unsere&#160;Website&#160;verwendet&#160;Cookies. Das&#160;sind kleine&#160;Textdateien,&#160;die&#160;Ihr Webbrowser auf&#160;</p>
<p style="position:absolute;top:437px;left:107px;white-space:nowrap" class="ft30">Ihrem&#160;Endgerät&#160;speichert.&#160;Cookies&#160;helfen&#160;uns&#160;dabei,&#160;unser&#160;Angebot&#160;nutzerfreundlicher,&#160;</p>
<p style="position:absolute;top:456px;left:107px;white-space:nowrap" class="ft30">effektiver&#160;und sicherer zu&#160;machen.&#160;</p>
<p style="position:absolute;top:496px;left:107px;white-space:nowrap" class="ft30">Einige&#160;Cookies&#160;sind “Session-Cookies.”&#160;Solche&#160;Cookies&#160;werden nach&#160;Ende&#160;Ihrer&#160;Browser-</p>
<p style="position:absolute;top:515px;left:107px;white-space:nowrap" class="ft30">Sitzung&#160;von selbst&#160;gelöscht.&#160;Hingegen&#160;bleiben&#160;andere&#160;Cookies&#160;auf Ihrem&#160;Endgerät&#160;bestehen,&#160;</p>
<p style="position:absolute;top:534px;left:107px;white-space:nowrap" class="ft30">bis&#160;Sie&#160;diese&#160;selbst&#160;löschen.&#160;Solche&#160;Cookies&#160;helfen&#160;uns, Sie&#160;bei&#160;Rückkehr&#160;auf unserer Website</p>
<p style="position:absolute;top:553px;left:107px;white-space:nowrap" class="ft30">wiederzuerkennen.</p>
<p style="position:absolute;top:593px;left:107px;white-space:nowrap" class="ft30">Mit&#160;einem&#160;modernen&#160;Webbrowser&#160;können Sie&#160;das&#160;Setzen&#160;von Cookies&#160;überwachen,&#160;</p>
<p style="position:absolute;top:612px;left:107px;white-space:nowrap" class="ft30">einschränken&#160;oder&#160;unterbinden.&#160;Viele&#160;Webbrowser&#160;lassen sich so konfigurieren,&#160;dass&#160;Cookies&#160;</p>
<p style="position:absolute;top:631px;left:107px;white-space:nowrap" class="ft30">mit&#160;dem&#160;Schließen&#160;des&#160;Programms&#160;von selbst&#160;gelöscht&#160;werden.&#160;Die&#160;Deaktivierung&#160;von&#160;</p>
<p style="position:absolute;top:650px;left:107px;white-space:nowrap" class="ft30">Cookies&#160;kann eine&#160;eingeschränkte&#160;Funktionalität&#160;unserer&#160;Website&#160;zur Folge&#160;haben.</p>
<p style="position:absolute;top:690px;left:107px;white-space:nowrap" class="ft30">Das&#160;Setzen&#160;von Cookies, die&#160;zur Ausübung elektronischer&#160;Kommunikationsvorgänge&#160;oder der</p>
<p style="position:absolute;top:709px;left:107px;white-space:nowrap" class="ft30">Bereitstellung&#160;bestimmter,&#160;von Ihnen erwünschter&#160;Funktionen&#160;(z.B. Warenkorb)&#160;notwendig&#160;</p>
<p style="position:absolute;top:729px;left:107px;white-space:nowrap" class="ft30">sind, erfolgt&#160;auf Grundlage&#160;von Art. 6 Abs. 1 lit.&#160;f DSGVO. Als&#160;Betreiber&#160;dieser Website&#160;</p>
<p style="position:absolute;top:748px;left:107px;white-space:nowrap" class="ft30">haben&#160;wir ein berechtigtes&#160;Interesse&#160;an&#160;der Speicherung&#160;von Cookies&#160;zur technisch&#160;</p>
<p style="position:absolute;top:767px;left:107px;white-space:nowrap" class="ft30">fehlerfreien&#160;und reibungslosen Bereitstellung&#160;unserer&#160;Dienste. Sofern die&#160;Setzung anderer&#160;</p>
<p style="position:absolute;top:786px;left:107px;white-space:nowrap" class="ft30">Cookies&#160;(z.B. für Analyse-Funktionen)&#160;erfolgt,&#160;werden&#160;diese&#160;in&#160;dieser Datenschutzerklärung&#160;</p>
<p style="position:absolute;top:805px;left:107px;white-space:nowrap" class="ft30">separat&#160;behandelt.</p>
<p style="position:absolute;top:844px;left:107px;white-space:nowrap" class="ft31"><b>Google&#160;Analytics</b></p>
<p style="position:absolute;top:885px;left:107px;white-space:nowrap" class="ft30">Unsere&#160;Website&#160;verwendet&#160;Funktionen&#160;des&#160;Webanalysedienstes&#160;Google&#160;Analytics.&#160;Anbieter&#160;</p>
<p style="position:absolute;top:904px;left:107px;white-space:nowrap" class="ft30">des&#160;Webanalysedienstes&#160;ist&#160;die&#160;Google&#160;Inc., 1600 Amphitheatre&#160;Parkway, Mountain&#160;View,&#160;</p>
<p style="position:absolute;top:923px;left:107px;white-space:nowrap" class="ft30">CA&#160;94043, USA.</p>
<p style="position:absolute;top:963px;left:107px;white-space:nowrap" class="ft30">Google&#160;Analytics&#160;verwendet&#160;&#34;Cookies.&#34; Das&#160;sind kleine&#160;Textdateien,&#160;die&#160;Ihr Webbrowser auf&#160;</p>
<p style="position:absolute;top:982px;left:107px;white-space:nowrap" class="ft30">Ihrem&#160;Endgerät&#160;speichert&#160;und eine&#160;Analyse&#160;der Website-Benutzung&#160;ermöglichen.&#160;Mittels&#160;</p>
<p style="position:absolute;top:1001px;left:107px;white-space:nowrap" class="ft30">Cookie&#160;erzeugte&#160;Informationen&#160;über Ihre&#160;Benutzung&#160;unserer Website&#160;werden an&#160;einen&#160;Server&#160;</p>
<p style="position:absolute;top:1020px;left:107px;white-space:nowrap" class="ft30">von Google&#160;übermittelt&#160;und dort&#160;gespeichert.&#160;Server-Standort&#160;ist&#160;im&#160;Regelfall&#160;die&#160;USA.</p>
<p style="position:absolute;top:1060px;left:107px;white-space:nowrap" class="ft30">Das&#160;Setzen&#160;von Google-Analytics-Cookies&#160;erfolgt&#160;auf Grundlage&#160;von Art.&#160;6 Abs. 1 lit.&#160;f&#160;</p>
<p style="position:absolute;top:1079px;left:107px;white-space:nowrap" class="ft30">DSGVO. Als&#160;Betreiber&#160;dieser Website&#160;haben&#160;wir&#160;&#160;ein berechtigtes&#160;Interesse&#160;an&#160;der Analyse&#160;</p>
<p style="position:absolute;top:1098px;left:107px;white-space:nowrap" class="ft30">des&#160;Nutzerverhaltens,&#160;um&#160;unser Webangebot&#160;und ggf. auch&#160;Werbung zu&#160;optimieren.</p>
<p style="position:absolute;top:1138px;left:107px;white-space:nowrap" class="ft30">IP-Anonymisierung</p>
</div>

<div id="page4-div" style="position:relative;width:892px;height:1262px;">
<p style="position:absolute;top:106px;left:107px;white-space:nowrap" class="ft40">Wir&#160;setzen&#160;Google&#160;Analytics&#160;in Verbindung mit&#160;der&#160;Funktion&#160;IP-Anonymisierung&#160;ein.&#160;Sie&#160;</p>
<p style="position:absolute;top:125px;left:107px;white-space:nowrap" class="ft40">gewährleistet,&#160;dass&#160;Google&#160;Ihre&#160;IP-Adresse&#160;innerhalb&#160;von Mitgliedstaaten&#160;der Europäischen&#160;</p>
<p style="position:absolute;top:144px;left:107px;white-space:nowrap" class="ft40">Union oder&#160;in anderen&#160;Vertragsstaaten&#160;des&#160;Abkommens&#160;über den&#160;Europäischen&#160;</p>
<p style="position:absolute;top:163px;left:107px;white-space:nowrap" class="ft40">Wirtschaftsraum&#160;vor der Übermittlung&#160;in die&#160;USA&#160;kürzt. Es&#160;kann&#160;Ausnahmefälle&#160;geben, in&#160;</p>
<p style="position:absolute;top:182px;left:107px;white-space:nowrap" class="ft40">denen&#160;Google&#160;die&#160;volle&#160;IP-Adresse&#160;an einen&#160;Server in den&#160;USA&#160;überträgt&#160;und dort&#160;kürzt.&#160;In&#160;</p>
<p style="position:absolute;top:201px;left:107px;white-space:nowrap" class="ft40">unserem&#160;Auftrag&#160;wird Google&#160;diese&#160;Informationen&#160;benutzen,&#160;um&#160;Ihre&#160;Nutzung der Website&#160;</p>
<p style="position:absolute;top:220px;left:107px;white-space:nowrap" class="ft40">auszuwerten,&#160;um&#160;Reports&#160;über Websiteaktivitäten&#160;zu&#160;erstellen&#160;und um&#160;weitere&#160;mit&#160;der&#160;</p>
<p style="position:absolute;top:239px;left:107px;white-space:nowrap" class="ft40">Websitenutzung&#160;und der Internetnutzung&#160;verbundene&#160;Dienstleistungen&#160;gegenüber&#160;uns&#160;zu&#160;</p>
<p style="position:absolute;top:258px;left:107px;white-space:nowrap" class="ft40">erbringen.&#160;Es&#160;findet&#160;keine&#160;Zusammenführung&#160;der von Google&#160;Analytics&#160;übermittelten&#160;IP-</p>
<p style="position:absolute;top:277px;left:107px;white-space:nowrap" class="ft40">Adresse&#160;mit&#160;anderen&#160;Daten&#160;von Google&#160;statt.</p>
<p style="position:absolute;top:317px;left:107px;white-space:nowrap" class="ft40">Browser Plugin</p>
<p style="position:absolute;top:357px;left:107px;white-space:nowrap" class="ft40">Das&#160;Setzen&#160;von Cookies&#160;durch Ihren Webbrowser&#160;ist&#160;verhinderbar.&#160;Einige&#160;Funktionen&#160;unserer</p>
<p style="position:absolute;top:376px;left:107px;white-space:nowrap" class="ft40">Website&#160;könnten&#160;dadurch jedoch&#160;eingeschränkt&#160;werden. Ebenso können Sie&#160;die&#160;Erfassung von</p>
<p style="position:absolute;top:395px;left:107px;white-space:nowrap" class="ft40">Daten&#160;bezüglich&#160;Ihrer Website-Nutzung&#160;einschließlich&#160;Ihrer IP-Adresse&#160;mitsamt&#160;</p>
<p style="position:absolute;top:414px;left:107px;white-space:nowrap" class="ft40">anschließender&#160;Verarbeitung&#160;durch Google&#160;unterbinden.&#160;Dies&#160;ist&#160;möglich,&#160;indem&#160;Sie&#160;das&#160;über&#160;</p>
<p style="position:absolute;top:433px;left:107px;white-space:nowrap" class="ft40">folgenden&#160;Link&#160;erreichbare&#160;Browser-Plugin herunterladen&#160;und installieren:&#160;</p>
<p style="position:absolute;top:452px;left:107px;white-space:nowrap" class="ft41"><a href="https://tools.google.com/dlpage/gaoptout?hl=de">https://tools.google.com/dlpage/gaoptout?hl=de.</a></p>
<p style="position:absolute;top:492px;left:107px;white-space:nowrap" class="ft40">Widerspruch&#160;gegen&#160;die&#160;Datenerfassung</p>
<p style="position:absolute;top:532px;left:107px;white-space:nowrap" class="ft40">Sie&#160;können die&#160;Erfassung Ihrer&#160;Daten durch Google&#160;Analytics&#160;verhindern,&#160;indem&#160;Sie&#160;auf&#160;</p>
<p style="position:absolute;top:552px;left:107px;white-space:nowrap" class="ft40">folgenden&#160;Link&#160;klicken.&#160;Es&#160;wird ein&#160;Opt-Out-Cookie&#160;gesetzt,&#160;der die&#160;Erfassung Ihrer Daten&#160;</p>
<p style="position:absolute;top:571px;left:107px;white-space:nowrap" class="ft40">bei&#160;zukünftigen&#160;Besuchen unserer&#160;Website&#160;verhindert:&#160;Google&#160;Analytics&#160;deaktivieren.</p>
<p style="position:absolute;top:611px;left:107px;white-space:nowrap" class="ft40">Einzelheiten&#160;zum&#160;Umgang mit&#160;Nutzerdaten&#160;bei&#160;Google&#160;Analytics&#160;finden Sie&#160;in der&#160;</p>
<p style="position:absolute;top:630px;left:107px;white-space:nowrap" class="ft40">Datenschutzerklärung&#160;von Google:<a href="https://support.google.com/analytics/answer/6004245?hl=de">&#160;https://support.google.com/analytics/answer/6004245?</a></p>
<p style="position:absolute;top:649px;left:107px;white-space:nowrap" class="ft41"><a href="https://support.google.com/analytics/answer/6004245?hl=de">hl=de.</a></p>
<p style="position:absolute;top:689px;left:107px;white-space:nowrap" class="ft40">Auftragsverarbeitung</p>
<p style="position:absolute;top:729px;left:107px;white-space:nowrap" class="ft40">Zur&#160;vollständigen&#160;Erfüllung&#160;der gesetzlichen&#160;Datenschutzvorgaben&#160;haben wir mit&#160;Google&#160;</p>
<p style="position:absolute;top:748px;left:107px;white-space:nowrap" class="ft40">einen&#160;Vertrag&#160;über die&#160;Auftragsverarbeitung&#160;abgeschlossen.</p>
<p style="position:absolute;top:788px;left:107px;white-space:nowrap" class="ft40">Demografische&#160;Merkmale&#160;bei&#160;Google&#160;Analytics</p>
<p style="position:absolute;top:828px;left:107px;white-space:nowrap" class="ft40">Unsere&#160;Website&#160;verwendet&#160;die&#160;Funktion&#160;“demografische&#160;Merkmale”&#160;von Google&#160;Analytics.&#160;</p>
<p style="position:absolute;top:847px;left:107px;white-space:nowrap" class="ft40">Mit&#160;ihr lassen sich Berichte&#160;erstellen,&#160;die&#160;Aussagen zu&#160;Alter, Geschlecht&#160;und Interessen&#160;der&#160;</p>
<p style="position:absolute;top:866px;left:107px;white-space:nowrap" class="ft40">Seitenbesucher&#160;enthalten.&#160;Diese&#160;Daten&#160;stammen&#160;aus&#160;interessenbezogener&#160;Werbung von&#160;</p>
<p style="position:absolute;top:885px;left:107px;white-space:nowrap" class="ft40">Google&#160;sowie&#160;aus&#160;Besucherdaten&#160;von Drittanbietern.&#160;Eine&#160;Zuordnung der Daten&#160;zu einer&#160;</p>
<p style="position:absolute;top:904px;left:107px;white-space:nowrap" class="ft40">bestimmten&#160;Person ist&#160;nicht&#160;möglich.&#160;Sie&#160;können diese&#160;Funktion&#160;jederzeit&#160;deaktivieren.&#160;Dies&#160;</p>
<p style="position:absolute;top:923px;left:107px;white-space:nowrap" class="ft40">ist&#160;über die&#160;Anzeigeneinstellungen&#160;in Ihrem&#160;Google-Konto möglich&#160;oder&#160;indem&#160;Sie&#160;die&#160;</p>
<p style="position:absolute;top:942px;left:107px;white-space:nowrap" class="ft40">Erfassung Ihrer Daten&#160;durch Google&#160;Analytics,&#160;wie&#160;im&#160;Punkt&#160;“Widerspruch&#160;gegen&#160;die&#160;</p>
<p style="position:absolute;top:961px;left:107px;white-space:nowrap" class="ft40">Datenerfassung”&#160;erläutert,&#160;generell&#160;untersagen.</p>
<p style="position:absolute;top:1001px;left:107px;white-space:nowrap" class="ft42"><b>PayPal</b></p>
<p style="position:absolute;top:1041px;left:107px;white-space:nowrap" class="ft40">Unsere&#160;Website&#160;ermöglicht&#160;die&#160;Bezahlung&#160;via&#160;PayPal.&#160;Anbieter&#160;des&#160;Bezahldienstes&#160;ist&#160;die&#160;</p>
<p style="position:absolute;top:1060px;left:107px;white-space:nowrap" class="ft40">PayPal&#160;(Europe) S.à.r.l.&#160;et&#160;Cie,&#160;S.C.A., 22-24 Boulevard&#160;Royal,&#160;L-2449 Luxembourg.</p>
<p style="position:absolute;top:1100px;left:107px;white-space:nowrap" class="ft40">Wenn&#160;Sie&#160;mit&#160;PayPal&#160;bezahlen,&#160;erfolgt&#160;eine&#160;Übermittlung&#160;der von Ihnen&#160;eingegebenen&#160;</p>
<p style="position:absolute;top:1119px;left:107px;white-space:nowrap" class="ft40">Zahlungsdaten&#160;an PayPal.</p>
</div>

<div id="page5-div" style="position:relative;width:892px;height:1262px;">
<p style="position:absolute;top:106px;left:107px;white-space:nowrap" class="ft50">Die&#160;Übermittlung&#160;Ihrer Daten&#160;an PayPal&#160;erfolgt&#160;auf&#160;Grundlage&#160;von Art. 6 Abs. 1 lit.&#160;a&#160;</p>
<p style="position:absolute;top:125px;left:107px;white-space:nowrap" class="ft50">DSGVO&#160;(Einwilligung)&#160;und Art. 6 Abs. 1 lit.&#160;b DSGVO&#160;(Verarbeitung&#160;zur Erfüllung&#160;eines&#160;</p>
<p style="position:absolute;top:144px;left:107px;white-space:nowrap" class="ft50">Vertrags). Ein&#160;Widerruf&#160;Ihrer bereits&#160;erteilten&#160;Einwilligung&#160;ist&#160;jederzeit&#160;möglich.&#160;In der&#160;</p>
<p style="position:absolute;top:163px;left:107px;white-space:nowrap" class="ft50">Vergangenheit&#160;liegende&#160;Datenverarbeitungsvorgänge&#160;bleiben&#160;bei&#160;einem&#160;Widerruf&#160;wirksam.</p>
<p style="position:absolute;top:202px;left:107px;white-space:nowrap" class="ft51"><b>Twitter&#160;Plugin</b></p>
<p style="position:absolute;top:243px;left:107px;white-space:nowrap" class="ft50">Unsere&#160;Website&#160;vewendet&#160;Funktionen&#160;des&#160;Dienstes&#160;Twitter.&#160;Anbieter&#160;ist&#160;die&#160;Twitter&#160;Inc.,&#160;</p>
<p style="position:absolute;top:262px;left:107px;white-space:nowrap" class="ft50">1355 Market&#160;Street,&#160;Suite&#160;900, San Francisco,&#160;CA&#160;94103, USA.&#160;</p>
<p style="position:absolute;top:302px;left:107px;white-space:nowrap" class="ft50">Bei&#160;Nutzung von Twitter&#160;und der&#160;Funktion&#160;&#34;Re-Tweet&#34;&#160;werden von Ihnen&#160;besuchte&#160;Websites&#160;</p>
<p style="position:absolute;top:321px;left:107px;white-space:nowrap" class="ft50">mit&#160;Ihrem&#160;Twitter-Account&#160;verknüpft&#160;und in&#160;Ihrem&#160;Twitter-Feed&#160;veröffentlicht.&#160;Dabei&#160;erfolgt&#160;</p>
<p style="position:absolute;top:340px;left:107px;white-space:nowrap" class="ft50">eine&#160;Übermittlung&#160;von Daten an Twitter.&#160;Über&#160;den Inhalt&#160;der übermittelten&#160;Daten sowie&#160;die&#160;</p>
<p style="position:absolute;top:359px;left:107px;white-space:nowrap" class="ft50">Nutzung&#160;dieser Daten&#160;durch Twitter&#160;haben&#160;wir keine&#160;Kenntnis.&#160;Einzelheiten&#160;finden&#160;Sie&#160;in&#160;der&#160;</p>
<p style="position:absolute;top:378px;left:107px;white-space:nowrap" class="ft50">Datenschutzerklärung&#160;von Twitter:<a href="https://twitter.com/privacy">&#160;https://twitter.com/privacy.</a></p>
<p style="position:absolute;top:418px;left:107px;white-space:nowrap" class="ft50">Sie&#160;können Ihre&#160;Datenschutzeinstellungen&#160;bei&#160;Twitter&#160;ändern:&#160;</p>
<p style="position:absolute;top:437px;left:107px;white-space:nowrap" class="ft52"><a href="https://twitter.com/account/settings">https://twitter.com/account/settings</a></p>
<p style="position:absolute;top:477px;left:107px;white-space:nowrap" class="ft51"><b>Google&#160;AdWords&#160;und&#160;Google&#160;Conversion-Tracking</b></p>
<p style="position:absolute;top:517px;left:107px;white-space:nowrap" class="ft50">Unsere&#160;Website&#160;verwendet&#160;Google&#160;AdWords.&#160;Anbieter&#160;ist&#160;die&#160;Google&#160;Inc., 1600&#160;</p>
<p style="position:absolute;top:536px;left:107px;white-space:nowrap" class="ft50">Amphitheatre&#160;Parkway, Mountain&#160;View, CA&#160;94043, United&#160;States.</p>
<p style="position:absolute;top:576px;left:107px;white-space:nowrap" class="ft50">AdWords&#160;ist&#160;ein&#160;Online-Werbeprogramm.&#160;Im&#160;Rahmen&#160;des&#160;Online-Werbeprogramms&#160;arbeiten&#160;</p>
<p style="position:absolute;top:595px;left:107px;white-space:nowrap" class="ft50">wir mit&#160;Conversion-Tracking.&#160;Nach einem&#160;Klick&#160;auf eine&#160;von Google&#160;geschaltete&#160;Anzeige&#160;</p>
<p style="position:absolute;top:614px;left:107px;white-space:nowrap" class="ft50">wird ein&#160;Cookie&#160;für das&#160;Conversion-Tracking&#160;gesetzt.&#160;Cookies&#160;sind kleine&#160;Textdateien,&#160;die&#160;Ihr</p>
<p style="position:absolute;top:633px;left:107px;white-space:nowrap" class="ft50">Webbrowser auf&#160;Ihrem&#160;Endgerät&#160;speichert.&#160;Google&#160;AdWords&#160;Cookies&#160;verlieren&#160;nach 30&#160;</p>
<p style="position:absolute;top:652px;left:107px;white-space:nowrap" class="ft50">Tagen&#160;ihre&#160;Gültigkeit&#160;und dienen&#160;nicht&#160;der persönlichen&#160;Identifizierung&#160;der&#160;Nutzer.&#160;Am&#160;</p>
<p style="position:absolute;top:671px;left:107px;white-space:nowrap" class="ft50">Cookie&#160;können Google&#160;und wir erkennen,&#160;dass&#160;Sie&#160;auf eine&#160;Anzeige&#160;geklickt&#160;haben&#160;und zu&#160;</p>
<p style="position:absolute;top:690px;left:107px;white-space:nowrap" class="ft50">unserer Website&#160;weitergeleitet&#160;wurden.</p>
<p style="position:absolute;top:730px;left:107px;white-space:nowrap" class="ft50">Jeder Google&#160;AdWords-Kunde&#160;erhält&#160;ein&#160;anderes&#160;Cookie.&#160;Die&#160;Cookies&#160;sind nicht&#160;über&#160;</p>
<p style="position:absolute;top:749px;left:107px;white-space:nowrap" class="ft50">Websites&#160;von AdWords-Kunden&#160;nachverfolgbar.&#160;Mit&#160;Conversion-Cookies&#160;werden&#160;</p>
<p style="position:absolute;top:768px;left:107px;white-space:nowrap" class="ft50">Conversion-Statistiken&#160;für AdWords-Kunden,&#160;die&#160;Conversion-Tracking&#160;einsetzen,&#160;erstellt.&#160;</p>
<p style="position:absolute;top:787px;left:107px;white-space:nowrap" class="ft50">Adwords-Kunden erfahren&#160;wie&#160;viele&#160;Nutzer&#160;auf ihre&#160;Anzeige&#160;geklickt&#160;haben und auf&#160;Seiten&#160;</p>
<p style="position:absolute;top:806px;left:107px;white-space:nowrap" class="ft50">mit&#160;Conversion-Tracking-Tag weitergeleitet&#160;wurden. AdWords-Kunden&#160;erhalten&#160;jedoch&#160;keine</p>
<p style="position:absolute;top:825px;left:107px;white-space:nowrap" class="ft50">Informationen,&#160;die&#160;eine&#160;persönliche&#160;Identifikation&#160;der&#160;Nutzer&#160;ermöglichen.&#160;Wenn Sie&#160;nicht&#160;am</p>
<p style="position:absolute;top:844px;left:107px;white-space:nowrap" class="ft50">Tracking&#160;teilnehmen&#160;möchten,&#160;können Sie&#160;einer&#160;Nutzung widersprechen.&#160;Hier ist&#160;das&#160;</p>
<p style="position:absolute;top:864px;left:107px;white-space:nowrap" class="ft50">Conversion-Cookie&#160;in den&#160;Nutzereinstellungen&#160;des&#160;Browsers&#160;zu deaktivieren.&#160;So findet&#160;auch&#160;</p>
<p style="position:absolute;top:883px;left:107px;white-space:nowrap" class="ft50">keine&#160;Aufnahme&#160;in die&#160;Conversion-Tracking&#160;Statistiken&#160;statt.</p>
<p style="position:absolute;top:923px;left:107px;white-space:nowrap" class="ft50">Die&#160;Speicherung&#160;von “Conversion-Cookies”&#160;erfolgt&#160;auf&#160;Grundlage&#160;von Art. 6 Abs. 1 lit.&#160;f&#160;</p>
<p style="position:absolute;top:942px;left:107px;white-space:nowrap" class="ft50">DSGVO. Wir als&#160;Websitebetreiber&#160;haben&#160;ein berechtigtes&#160;Interesse&#160;an der&#160;Analyse&#160;des&#160;</p>
<p style="position:absolute;top:961px;left:107px;white-space:nowrap" class="ft50">Nutzerverhaltens,&#160;um&#160;unser Webangebot&#160;und unsere&#160;Werbung zu optimieren.</p>
<p style="position:absolute;top:1001px;left:107px;white-space:nowrap" class="ft50">Einzelheiten&#160;zu Google&#160;AdWords&#160;und Google&#160;Conversion-Tracking&#160;finden Sie&#160;in den&#160;</p>
<p style="position:absolute;top:1020px;left:107px;white-space:nowrap" class="ft50">Datenschutzbestimmungen&#160;von Google:<a href="https://www.google.de/policies/privacy/">&#160;https://www.google.de/policies/privacy/.</a></p>
<p style="position:absolute;top:1060px;left:107px;white-space:nowrap" class="ft50">Mit&#160;einem&#160;modernen&#160;Webbrowser&#160;können Sie&#160;das&#160;Setzen&#160;von Cookies&#160;überwachen,&#160;</p>
<p style="position:absolute;top:1079px;left:107px;white-space:nowrap" class="ft50">einschränken&#160;oder&#160;unterbinden.&#160;Die&#160;Deaktivierung&#160;von Cookies&#160;kann eine&#160;eingeschränkte&#160;</p>
<p style="position:absolute;top:1098px;left:107px;white-space:nowrap" class="ft50">Funktionalität&#160;unserer&#160;Website&#160;zur Folge&#160;haben.</p>
</div>
