{% trans_default_domain 'Mealmatch' %}
<div class="mm-system-message">
    <p>{{ 'mail.salutation'|trans }} {{ meal.host.username }},</p>
    <p>{{ 'systemmsg.status.running.text'|trans }}.</p>
</div>
<p></p>
<p>{{ 'joinrequest.mail.yourteam'|trans }}</p>
