{% trans_default_domain 'Mealmatch' %}
<p>{{ 'joinrequest.created.mail.salutation'|trans({ '%hostusername%': GUEST.username }) }}</p>
<p>Wir haben den Gast {{ GUEST.username }} über deine Absage informiert.</p>
<p>- {{ 'joinrequest.mail.yourteam'|trans }}</p>
