{% trans_default_domain 'Mealmatch' %}
<p>{{ 'joinrequest.created.mail.salutation'|trans({ '%hostusername%': GUEST.username }) }}</p>
<p>Deine Anfrage zur Teilnahme für das Meal {{ MEAL.title}} wurde leider abgelehnt.</p>
<p>- {{ 'joinrequest.mail.yourteam'|trans }}</p>
