{#{% extends "@WEBUI/simple_ui.html.twig" %}#}
{% extends "@WEBUI/Layouts/main_layout.html.twig" %}
{% trans_default_domain 'Mealmatch' %}
{% block main_header_action %}<!--// NO ACTION //-->{% endblock %}
{% set main_header_subtitle %}<!--// NO ACTION //-->{% endset %}
{% set left_icon %}<span class="mm-circle-icon mm-icon-trust-circle"></span>{% endset %}
