{% extends "@WEBUI/Layouts/simple.html.twig" %}
{% trans_default_domain "Mealmatch" %}
{% set viewData = {'title': 'Social-Dining | Restaurant-Meals'} %}
{% block simple_main_content %}
    <div class="breadcrumb">
        <span class="icon-direction"></span>&nbsp;
        <a href="{{ path('public_meals_index') }}">Social-Dining</a> /
        <a href="{{ path('public_promeal_index') }}">Restaurant-Meals</a>
    </div>

    <p></p>
    <div class="pull-right"><span class="label label-danger beta-badge">Beta</span></div>
    <p class="mm-spacer"></p>
    <div class="meal-grid pull-left">
        <div class="meal-grid-sizer"></div>
        {% for meal in proMeals %}
            <div class="meal-grid-item">{{ include('@WEBUI/ProMeal/index.card.include.html.twig') }}</div>
        {% endfor %}
    </div>
{% endblock %}