{% trans_default_domain 'MMWebFrontBundle' %}

<div id="mm-header">
    <div class="mm-header-box">
        <h1 class="text-center mm-header-title">{{ viewData.title|raw }}</h1>
    </div>
    <img class="img-responsive center-block" src="{{ asset('bundles/uipublic/images/mm/mealmatch_header.jpg') }}" alt="Mealmatch"/>
</div>
